my_nodered.flow
[{"id":"9cbea92c.76dda","type":"mqtt in","z":"89f5149d.d28fe","name":"Light Sensor","topic":"/sensor/lux","qos":"2","broker":"27986861.3c9a2","x":197,"y":97,"wires":[["3b371a67.0504ee"]]},{"id":"3b371a67.0504ee","type":"switch","z":"89f5149d.d28fe","name":"Light Threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":427,"y":97,"wires":[["848b6ab3.3a5f98"],["17e7710f.47d1ef"]]},{"id":"848b6ab3.3a5f98","type":"change","z":"89f5149d.d28fe","name":"Enable Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":637,"y":57,"wires":[["dabc6cdb.0ec21"]]},{"id":"17e7710f.47d1ef","type":"change","z":"89f5149d.d28fe","name":"Disable Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":637,"y":137,"wires":[["dabc6cdb.0ec21"]]},{"id":"69d50bbc.315054","type":"debug","z":"89f5149d.d28fe","name":"","active":false,"console":"false","complete":"false","x":990,"y":60,"wires":[]},{"id":"dabc6cdb.0ec21","type":"rbe","z":"89f5149d.d28fe","name":"","func":"rbe","gap":"","start":"","inout":"out","x":817,"y":97,"wires":[["69d50bbc.315054","e876ebb.7ae5b98"]]},{"id":"e876ebb.7ae5b98","type":"mqtt out","z":"89f5149d.d28fe","name":"","topic":"/weather/sun","qos":"","retain":"","broker":"27986861.3c9a2","x":990,"y":140,"wires":[]},{"id":"27986861.3c9a2","type":"mqtt-broker","z":"","broker":"192.168.10.228","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
